font{
    vertical-align: inherit;
}
nav{
  background-color: indigo;
}
.navbr{
  color: white;
}
main{
  background-color: indigo;
}
.col-lg-4{
  text-align: center;
}

main{
  color: white;
}
.card-text{
  color: black;
}
.footer{
  color: black;
}

a:hover{
  color: red;
}